*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: white;
    background: linear-gradient(to right,#751aaf,#295e7e);
}

.container {
    width: 600px;
    height: 90vh;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.color-form {
    width: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
}

.color-form > * {
    font-family: inherit;
    font-size: 1.5rem;
    flex-grow: 1;
    color: #374151;
    background-color: inherit;
    border: 1px solid #D1D5DB;
    padding: 8px;
    border-radius: 4px;
}

input[type="color"] {
    height: 100%;
    background-color: #E5E5E5;
    padding: 2px;
}

.palette {
    width: 600px;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #295e7e;
}